/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    background-color: #FBB03B;
    font-family: 'Montserrat', sans-serif;
}

::-moz-selection {
    background: #000;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #000;
    color: #fff;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
a, .transition{
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
svg{
    width: 100%;
    height: auto !important;
}

/* ==========================================================================
   My custom styles
   ========================================================================== */

/*-----top header (flags and facebook button)------*/
header,.main-container,footer{
    margin: auto;
    width: calc(100% - 60px);
    max-width: 960px;
    box-sizing: border-box;
}
header{
    height: 50px;
}
.main-container{
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 65px 50px -40px rgba(0,0,0,.4), 0 0 40px rgba(0,0,0,.12);
    border-radius: 15px;
}
.lang-container{
    float: right;
    display: inline-block;
    margin: 0 15px;
    padding: 10px 0;
    color: #fff;
    font-size: .9rem;
}

.lang-container a{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    text-indent: -9999px;
    margin: 0 3px;
    background: url(../img/flags.png) no-repeat scroll transparent;
    vertical-align: middle;
}
.lang-container a:hover{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.lang-container a.active{
    box-shadow: 0 0 0 2px rgba(255,255,255,.5);
}
.lang-container span{
    margin-right: 5px;
}

a.de-lang{
    background-position: -32px 0;
}
a.es-lang{
    background-position: -63px 0;
}


/*------top artwork area------*/
.hero-container{
    position: relative;
}
.camel{
    max-width: 340px;
    height: 225px;
    margin: auto;
    position: relative;
    z-index: 2;
}
.sun{
    width: 150px;
    position: absolute;
    right: 10%;
    top: 30px;
    z-index: 1;
}
.cloud{
    width: 115px;
    position: absolute;
    left: 7%;
    top: 125px;
    z-index: 1;
}
.top-artwork{
    margin-bottom: 40px;
}
.top-artwork h1{
    font-weight: 300;
    font-size: 2.3rem;
    text-align: center;
    margin: 10px 0 20px 0;
}
.top-artwork h1 strong{
    color:#FBB03B;
    font-weight: 700;
    font-size: 2rem;
    display: block;
}
.top-artwork p{
    text-align: center;
    font-size: .9rem;
    max-width: 65%;
    margin: auto;
}



/*-----form area style-----*/
.form-container{
    padding: 40px 0;
}
.form-row{
    padding:20px;
    border-bottom: solid 1px #eee;
}

.form-row h3{
    color: #FBB03B;
    margin: 0;
    display: inline-block;
    font-size: 1.1rem;
}
.form-row h3 span{
    font-weight: 300;
}
.main-button{
    margin: 70px auto 0;
    display: table;
    padding: 15px 35px;
    color: #fff;
    border: none;
    background-color: #FBB03B;
    font-size: 1.25rem;
    border-radius: 100px;
    text-transform: uppercase;
    font-weight: 700;
    outline: none;
}
.main-button:hover{
    background-color: #62BB00;
}
/*custom radio button*/
.custom-radios input[type="radio"] {
    display: none;
}
.custom-radios input[type="radio"] + label {
    box-shadow: 0 0 0 1px #FBB03B inset;
    cursor: pointer;
    padding: 10px;
    text-align: center;
    display: block;
    position: relative;
    border-radius: 5px;
    margin: 10px 0;
    font-size: .75rem;
}
.icon-button{
    width: 30%;
    min-width: 50px;
    display: block;
    margin: 10px auto;
}
.custom-radios input[type="radio"] + label:hover{
    box-shadow: 0 0 0 1px #62BB00 inset;
}
.custom-radios input[type="radio"] + label:after {
    content: '';
    position: absolute;
    right: -7px;
    bottom: -7px;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background: #62BB00 url("../img/tik.svg") no-repeat center center scroll;

    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);

    -webkit-transition: all .18s ease-in-out;
    -moz-transition: all .18s ease-in-out;
    -ms-transition: all .18s ease-in-out;
    -o-transition: all .18s ease-in-out;
    transition: all .18s ease-in-out;
    
}
.custom-radios input[type="radio"] + label:after {
    visibility: hidden;
}
.custom-radios input[type="radio"] + label.active{
    box-shadow: 0 0 0 2px #62BB00 inset ;
}
.custom-radios input[type="radio"] + label.active:after {
    visibility: visible;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

/*custom range slider*/
.rangeslider,
.rangeslider__fill {
    display:block;
    border-radius:10px;
}

.rangeslider {
    position:relative;
}
.rangeslider:after{
    top:50%;
    left:0;
    right:0;
    content:'';
    width:100%;
    height:5px;
    margin-top:-2.5px;
    border-radius:5px;
    position:absolute;
    background:#DDD;
}

.rangeslider--horizontal{
    width:100%;
    height:28px;
}

.rangeslider--vertical{
    width:5px;
    min-height:150px;
    max-height:100%;
}
.rangeslider--disabled{
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    opacity:0.4;
}

.rangeslider__fill{
    position:absolute;
    background:#62BB00;
}
.rangeslider--horizontal .rangeslider__fill{
    top:0;
    height:100%;
}
.rangeslider--vertical .rangeslider__fill{
    bottom:0;
    width:100%;
}

.rangeslider__handle{
    top:50%;
    width:24px;
    height:24px;
    cursor:pointer;
    margin-top:-12px;
    position:absolute;
    background:#FBB03B;
    border-radius:50%;
    display:inline-block;
    box-sizing: border-box;
    border: solid 5px #fff;
    box-shadow: 0 1px 5px 1px rgba(0,0,0,.2);
}
.rangeslider__handle:active{
    box-shadow: 0 1px 17px 1px rgba(0,0,0,.2);
    border: solid 3px #fff;
}

.rangeslider__fill,
.rangeslider__handle{
    z-index:1;
}
.rangeslider--horizontal .rangeslider__fill{
    top:50%;
    height:5px;
    margin-top:-2.5px;
}
.rangeslider-container{
    position: relative;
    padding: 0 10px 0 80px;
    margin: 10px 0;
}

.slideRight{
    position: absolute;
    left: 80px;
    top: -15px;
    color: #ddd;
    font-size: .7rem;
    font-weight: 300;
}

.rang-output{
    float: left;
    margin: 0;
    padding:10px;
    font-size: 1.4rem;
}



/*result container*/
.result-container{
    text-align: center;
    display: none;
    margin-bottom: 70px;
}
.result-container h2{
    font-weight: 700;
    font-size: 1.7rem;
    display: block;
}
.result-container h3{
    color:#FBB03B;
    font-weight: 300;
    font-size: 2.2rem;
    display: block;
}
.result-container h3 strong{
    display: block;
    font-size: 5rem;
    font-weight: 700;
}

    /*footer*/
.footer-links{
    text-align: center;
    margin: 30px 0;
    color: rgba(255,255,255,.5);
}
.footer-links a{
    display: inline-block;
    font-size: .7rem;
    color: #fff;
    padding: 2px;
    margin-top: 10px;
    text-decoration: none;
    vertical-align: middle;
}
.footer-links a:hover{
    text-decoration: underline;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
/*small screens*/
@media only screen and (max-width: 640px) {
    .form-row h3{
        display: block;
        text-align: center;
        margin: 5px 0 20px 0;
    }
    .cloud{
        width: 95px;
        left: 0;
    }
    .sun{
        width: 120px;
        right: 15px;
    }
    .form-row {
        padding: 20px 0;
    }
}


@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}